html {
  height: 100%;
  display: table;
  margin: auto;
}

body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background: black;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: white;
}

#instructions {
  color: white;
  text-align: center;
  margin-left: 25%;
  width: 50%
}

.podcast-container {
  display: flex;
  justify-content: center;
  height: 50%;
  background: black;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-list-container .right-list-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.podcast-row {
  background: white;
  border: 5px solid black;
  margin: 10px;
  padding: 5px;
}

.podcast-image {
  object-fit: fill;
  height: 100%;
  width: 100px;
  padding-right: 5px;
  background-size: cover;
}

.podcast-title {
  font-size: 14px;
  margin: 1px;
}

.podcast-name {
  font-size: 13px;
  margin: 0px;
  padding: 2px;
}

.podcast-details {
  font-size: 10px;
  display: flex;
  padding: 0px 6px 1px;
}

.podcast-description {
  font-size: 10px;
  display: flex;
  margin: 0px;
  padding-right: 150px;
  width: 100%;
}

.audio-controls {
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  flex: 3;
}

.player-button {
  font-size: 30px;
  border-radius: 25px;
  background: white;
}

.audio-player {
  align-items: center;
  justify-content: center;
}

.left-list, .right-list {
  height: 95%;
  background:grey;
  padding: 20px;
  margin: 20px;
  width: 500px;
  border: 5px dashed black;
}

